name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'

      - name: install gpg
        run: |
          if [ ! `command -v gpg` ]; then
            apt update
            apt install -y gpg
          fi

      - uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: publish
        run: |
          ./gradlew --no-daemon \
            -Psigning.gnupg.executable=gpg \
            -Psigning.gnupg.useLegacyGpg=true \
            -Psigning.gnupg.keyName=${{ secrets.GPG_SIGN_KEY }} \
            -Pversion=${GITHUB_REF_NAME}


