name: Tests

on:
  push:
    branches:
      - '**/**'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'

      - name: run project tests
        run: ./gradlew test --no-daemon
